<ion-view view-title="BMICalculator">
  <ion-content class="padding">
    <h2>BMI Calculator</h2>
    <div class="container">
    <div class="row">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">BMI</legend>
            <form action="">
                <label for="txtHeight">Height <span class="mandateField">*</span></label>
                <div class="form-group">
                    <input type="number" data-ng-model="bmiCalcCtrl.numberHt" class="form-control" placeholder="Enter height in centimeters"/>
                </div>
                <hr />
                <div class="form-group">
                    <label for="txtWeight">Weight <span class="mandateField">*</span></label>
                    <input type="number" data-ng-model="bmiCalcCtrl.numberWt" class="form-control" placeholder="Enter weight in Kgs"/>
                </div>
                <button type="submit" class="btn btn-default" data-ng-click="calculateBMI()">Calculate BMI</button>
            </form>

            <br />BMI: <span data-ng-bind="bmi"></span>

        </fieldset>
    </div>
    
    <i>BMI should be between 19 - 25</i>
</div>
  </ion-content>
</ion-view>