<ion-view view-title="Dashboard">
  <ion-content class="padding">

<div class="card">
  <div class="item item-divider">
    Kanta uudistuu 2017!
  </div>
  <div class="item item-text-wrap">
    Kanta tuo ihmisille paljon uusia mahdollisuuksia, jotka edistää ihmisten hyvinvointia. Kanta:n avulla ihmiset saavat olla yhteydessä asiantuntijoiden, lääkäreiden ja muiden hoitohenkilöstöiden kanssa.
    <br /><br /><br />
  </div>

  <div class="item item-divider">
    Lääkäri Joonas Halonen
  </div>
  <div class="item item-text-wrap">
    Miksi pitää juoda runsaasti vettä? Vesi on tärkeä aineenvaidunnan kannalta....
       <br /><br /><br />
  </div>


  <div class="item item-divider">
    <b>Terveydenhoitaja</b> Katri Pasila
       <br /><br />
  </div>
  <div class="item item-text-wrap">
    Influenssan rokotus kanattaa ottaa ajoissa....
       <br /><br /><br />
  </div>

</div>
  </ion-content>
</ion-view>

